@using AlgorithmsWebApp.Models;
@using AlgorithmsWebApp.Data;
@model AlgorithmModels;


<div>
    <form method="post" asp-action="AlgorithmSelected" asp-controller="UserInput">

       
        <select required asp-for="SelectedAlgorithm">
            <option value="" disabled selected>--Select--</option>
            @foreach(var item in @Model.AlgorithmList)
            {
            <option value="@item.Text">@item.Text</option>
            }
        </select>


        <input type="submit" value="Run" />
    </form>

       @foreach (var i in ResultsDisplayedToUser.ResultsFromSession) //make into blocks with the users input followed by the a brief description and then the output 
            {
                <hr class="dashed">
                <p>@Model.SelectedAlgorithm</p>
                <p>Input: @Model.Collection</p>
                <p>Output: @i.ReturnedValue</p>
                <p>Description of the @Model.SelectedAlgorithm algorithm:</P>
                <p>@i.Explanation</p>
                <p>Link to documentation:</P>
                <a href=@i.LinkToDocumentation target="_blank">Click Here</a>


            }

      
</div>



